.header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.nav-link{
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
  
  .nav-item:nth-last-child(-n+2) .nav-link {
    background-color: #DEE1E3;
    color: #2b2a2a;
    border-radius: 50px;
    padding: 8px 20px;
    margin-left: 10px;

  }
  
  .nav-item:nth-last-child(-n+2) .nav-link:hover {
    background-color: #DEE1E3;
  }



  .upload_body{
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .upload_body-right h1{
    font-weight: 800;
    font-size: 70px;
    font-family: 'Poppins', sans-serif; 
    margin-top: 120px; 
  }


  @media (max-width: 992px) {
    .nav-item:nth-last-child(-n+2) .nav-link {
        margin-top: 5px;
    }
    .upload_body-right h1{
      font-weight: 800;
      font-size: 40px;
      font-family: 'Poppins', sans-serif;
      margin-top: 40px;
    }
  }



  @media(max-width:767px){
    .upload_body-right h1{
      font-weight: 800;
      font-size: 50px;
      font-family: 'Poppins', sans-serif;
    }
  }























  .footer{
    color: white;
    background: #000;
    width: auto;
  }